{% extends 'base.html' %}
{% block title %}
Birth-day
{% endblock title %}
{% block body %} 
<style>
{% load static %}
<link rel="stylesheet" href="{% static 'bday.css'%}"> 
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

<div class="container-fluid px-0">
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/bday11.jfif" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/bday1.jfif" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/bday3.jfif" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
<h1 class="my-3 text-center">Our Packages Includes</h1>
<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/bday_gfts.jfif">

            <div class="card-body">
              <p class="card-text">Birthday-Gifts</p>
              <br>
              <p class="card-para">You can select birthday gifts according to your choise.We will provide you the best gifts.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/bday_cake.jfif">

            <div class="card-body">
              <p class="card-text">Birthday-Cake</p>
              <br>
              <p class="card-para">You can select birthday-cake according to your choise.We will provide you the best cake in taste and look.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/bday_costume.jfif">

            <div class="card-body">
            <p class="card-text">Birthday-Coustume</p>
              <br>
              <p class="card-para">You can select birthday-day according to your choise.We will provide you the best costume in quality and look,according to the theme.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/bday_decorations.jfif">

            <div class="card-body">
              <p class="card-text">Decorations</p>
              <br>
              <p class="card-para">You can select best decorations according to your choise.We will provide you the best decoraions in quality and look.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/bday_music.jfif">

            <div class="card-body">
              <p class="card-text">Music-System</p>
              <br>
              <p class="card-para">You can select music-system according to your choise.We will provide you the best system having best quality of sound.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/bday_food.jfif">

            <div class="card-body">
              <p class="card-text">Catering</p>
              <br>
              <p class="card-para">You can select menu of food according to your choise.We will provide you the best food in quality and taste.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-5 d-flex justify-content-center">
         <p><a class="btn btn-dark btn-lg" href="/payment">Make Payment &raquo;</a></p>
      </div>

<footer class="text-muted py-5 bg-white">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">&copy; 2017–2021 Bhavika Event-Mangements</p>
    <p class="mb-0">Want to go back...<a href="/about">Visit the About-Us</a> .</p>
  </div>
</footer>

{% endblock body %}